html
  body

html(lang='zh-CN')
  head
    meta(charset='UTF-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    |     
    meta(name='renderer', content='webkit')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    |     
    meta(name='apple-mobile-web-app-capable', content='yes')
    |     
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    |     
    meta(name='format-detection', content='telephone=no')
    |     
    meta(name='screen-orientation', content='portrait')
    |     
    meta(name='x5-orientation', content='portrait')
    |     
    title &#x65B0;&#x513F;&#x5C0F;&#x7684;&#x82B1;&#x6912;&#x6B63;&#x5728;&#x76F4;&#x64AD;
    |     
    script(type='text/javascript').
      window._DATA = {
      feed: {
      "feed": {
      "sn": "#{sn}",
      "paused": "N",
      "position": "Y",
      "m3u8": "",
      "subtitle": " ",
      "subtitle_index": " ",
      "liveCache": 0,
      "image": "http:\\/\/image.huajiao.com\/4cb6a37d1cd2ab28a88f14470245d9a9.jpg",
      "publishtime": "#{publishtime}",
      "title": "#\\u5973\u795e\u6765\u88ad#",
      "duration": 0,
      "width": 360,
      "height": 640,
      "device": "iPhone 6s",
      "network": "Wi-Fi",
      "location": "\\u56db\u5ddd\u7701\u6210\u90fd\u5e02",
      "is_link": "N",
      "is_privacy": "N",
      "is_faceu": "Y",
      "relateid": #{relateid},
      "favorited": false,
      "praises": 8518,
      "watches": 6456,
      "reposts": 0,
      "replies": 0,
      "privacy_info": {"authorized": "N"}
      },
      "author": {
      "uid": "#{uid}",
      "nickname": "\\u4f73\u59ae\u9171",
      "avatar": "http:\\/\/image.huajiao.com\/4cb6a37d1cd2ab28a88f14470245d9a9-100_100.jpg",
      "followed": null,
      "verified": false,
      "verifiedinfo": {
      "credentials": "\\u5c18\u4e16 \u7737\u9e1f \u5929\u6daf\u6816 \u6708\u5706\u65f6\u5206 \u6b8b\u706f\u5982\u706b \u4eba\u96be\u805a \u5bc2\u5bde \u65e0\u884c\u8def           \u770b\u82b1 \u60dc\u522b \u8a00\u672a\u5c3d",
      "type": 0,
      "realname": "\\u4f73\u59ae\u9171",
      "status": 0,
      "error": "",
      "official": false
      },
      "exp": #{exp},
      "level": #{level},
      "medal": [{"kind": "tuhao", "medal": "2"}],
      "userCache": 1471160498,
      "balance": 0
      },
      "type": 1,
      "creatime": "2016-08-14 14:44:34",
      "relay": {"usign": "#{usign}", "channel": "live_huajiao_v2"}
      },
      author: {
      "uid": "#{uid}",
      "nickname": "\\u4f73\u59ae\u9171",
      "avatar": "http:\\/\/image.huajiao.com\/4cb6a37d1cd2ab28a88f14470245d9a9-100_100.jpg",
      "followed": null,
      "verified": false,
      "verifiedinfo": {
      "credentials": "\\u5c18\u4e16 \u7737\u9e1f \u5929\u6daf\u6816 \u6708\u5706\u65f6\u5206 \u6b8b\u706f\u5982\u706b \u4eba\u96be\u805a \u5bc2\u5bde \u65e0\u884c\u8def           \u770b\u82b1 \u60dc\u522b \u8a00\u672a\u5c3d",
      "type": 0,
      "realname": "\\u4f73\u59ae\u9171",
      "status": 0,
      "error": "",
      "official": false
      },
      "exp": #{exp},
      "level": 24,
      "medal": [{"kind": "tuhao", "medal": "2"}],
      "userCache": 1471160498,
      "balance": 0
      },
      user: false,
      isLogin: 0,
      $userinfo: false,
      isFollow: 0,
      isGuest: 1,
      page: 'live',
      payData: {"beans": 97217, "coin": 3743445}
      }
  body.living-page
    // 头部下载区域
    .maincontainer
      // 播放器区域
      section.playerArea.js_playerArea.live-player
        .play-wrap.js_video_wrap
          .video_wrap
            .h5_player
          // 聊天
          .hjPopbox
          // 视频底部toolbar
          .toolsArea
            // 礼物
            a.app-item.js_download.js_hj_download(data-sid='2981222', data-pname='com.huajiao', data-size='22064161', data-dot-mark='h5_live6', data-download-id='h5_live_open', data-open='true')
              .give-gift.js_give_gift
                span.gift-icon
    #js_downed_tip.downed-wrap
      .downed-tip
        span.js_kown.down-kown
    script(src='http://static.huajiao.com/huajiao/activity/resource/share/js/jquery/jquery-2.1.4.min.js?v=c0dee5e')
    // <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js?v=1"></script>
    script(src='./javascripts/concatliveplay.js')
    // 入口文件
    script(src='./javascripts/living_all.js')
    script(type='text/javascript').
      if (window.monitor) {
      monitor.setProject('huajiao').getTrack().getClickAndKeydown();
      }
